@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
* {
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  color: inherit;
  text-decoration: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#header {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 128px;
  padding: 16px 0;
  z-index: 1200; }
  #header .contents {
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 0 auto; }
  #header .logo {
    margin-left: 16px;
    display: block; }
    #header .logo img {
      height: 32px; }

#about-me {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800; }
  #about-me .contents {
    pointer-events: auto;
    color: #444;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    #about-me .contents > * {
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.6);
      background-color: white;
      padding: 16px 24px; }
    #about-me .contents h1 {
      font-size: 7vh;
      text-transform: uppercase;
      font-weight: 900;
      margin-bottom: 12px; }
    #about-me .contents h2 {
      font-size: 3vh; }
      #about-me .contents h2 .medium {
        font-style: italic; }

#header {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 128px;
  padding: 16px 0;
  z-index: 1200; }
  #header .contents {
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 0 auto; }
  #header .logo {
    margin-left: 16px;
    display: block; }
    #header .logo img {
      height: 32px; }

#featured-project {
  height: 100vh;
  min-height: 160px;
  background-color: #404040;
  transition: background-color 0.3s ease;
  overflow: hidden;
  position: relative;
  padding-top: 64px;
  display: flex;
  flex-direction: column; }
  #featured-project .hero {
    background-color: white;
    background-size: cover;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    transition: opacity 0.3s ease; }
  #featured-project .description {
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7));
    margin-top: auto;
    padding: 32px 0;
    padding-top: 128px;
    position: relative;
    z-index: 700;
    color: white; }
    #featured-project .description .name {
      max-width: 1200px;
      width: 100%;
      display: block;
      margin: 0 auto;
      padding-left: 16px;
      font-weight: bold;
      font-size: 24px; }

.contact {
  background-color: #ddd;
  padding: 24px 0; }
  .contact .wrapper {
    max-width: 1200px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-left: 16px;
    font-weight: bold;
    font-size: 24px;
    text-align: center; }
    .contact .wrapper a {
      display: inline-block;
      line-height: 48px;
      color: #888; }
    .contact .wrapper a + a {
      margin-left: 48px; }

#projects {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px; }
  #projects .project {
    padding: 16px 8px;
    margin: 0 8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative; }
    #projects .project img {
      display: block;
      width: 480px;
      height: 320px; }
    #projects .project .info {
      display: flex;
      flex-direction: column;
      margin: 16px; }
      #projects .project .info h1 {
        font-size: 24px;
        font-weight: bold;
        color: #444;
        margin-bottom: 8px; }
        #projects .project .info h1 a {
          text-decoration: none; }
      #projects .project .info ul {
        list-style-type: none;
        position: absolute;
        bottom: 16px; }
        #projects .project .info ul li {
          display: inline-block; }
        #projects .project .info ul.tools {
          right: 0;
          color: #888;
          font-style: italic; }
          #projects .project .info ul.tools li + li:before {
            content: ',';
            margin-left: -4px;
            margin-right: 4px;
            display: inline-block; }
        #projects .project .info ul.tags {
          left: 504px;
          color: #888;
          font-weight: bold; }
          #projects .project .info ul.tags li + li:before {
            content: '/';
            margin: 0 8px;
            display: inline-block; }
    #projects .project.compact {
      min-height: 192px; }
      #projects .project.compact .tags {
        left: 24px !important; }
  #projects .project + .project {
    border-top: 1px dashed rgba(0, 0, 0, 0.3); }

html, body {
  overflow-x: hidden; }

body {
  font-family: 'Roboto', sans-serif; }

main {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  background: white;
  position: relative;
  padding-top: 24px;
  z-index: 1000; }

a {
  text-decoration: underline; }

/*# sourceMappingURL=compiled.css.map */