
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@import 'reset';

@import 'util';
@import 'header';
@import 'about';
@import 'featured';
@import 'contact';

@import 'projects';

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
}

main {
  box-shadow: 0 0 30px rgba(black, 0.6);
  background: white;
  position: relative;
  padding-top: 24px;
  padding-bottom: 48px;
  z-index: $z-main;
}

a {
  text-decoration: underline;
}
